<h1>Destaque</h1>
<div>
  <%= @destaque.cotacao.id %><br />
  <%= @destaque.data_inicio %><br />
  <%= @destaque.data_fim %><br />
  <%= @destaque.valor_convite %><br />
</div>

<h1>Ofertas</h1>

<table>
  <tr>
    <th>Cotação</th>
    <th>Data Início</th>
    <th>Data Final</th>
    <th>Valor</th>
  <tr>
  
  <% @ofertas.each do |oferta| %>
    <tr><%= oferta.cotacao.id %></tr>
    <tr><%= oferta.data_inicio %></tr>
    <tr><%= oferta.data_fim %></tr>
    <tr><%= oferta.valor_convite %></tr>
  <% end %>
</table>
<br />

<h1>Cooperativas</h1>
<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
</table>
