<div class="content ">
    <div class="row">

        <%= render "/common/ofertas/oferta_principal", :locals => { :oferta => @oferta } %>


        <div class="grid12" style="margin-top: 5px;">
            <div class="other_deals_list">
                <h2 class="title-offer">Mais Recentes</h2>

                <%= render :partial => "/common/ofertas/oferta_item_lista", :locals => { :ofertas => @ofertas } %>

            </div>
        </div>
        <div class="grid12" style="margin-top: 5px;">
            <p>
            <%= link_to("Ver Mais Ofertas", ofertas_path, :id => "MaisOfertas", :class => "link-ver-mais", :title => "Veja Todas as Ofertas") %>
            </p>
        </div>

        <div class="grid12" style="margin-top: 5px;">
            <div class="other_deals_list">
                <h2 class="title-offer">Cooperativas</h2>

                <%= render :partial => "/common/cooperativas/cooperativa_item_lista", :locals => { :cooperativas => @cooperativas } %>

            </div>
        </div>
        <div class="grid12" style="margin-top: 5px;">
            <p>
            <%= link_to("Ver Mais Cooperativas", cooperativas_path, :id => "MaisCooperativas", :class => "link-ver-mais", :title => "Veja Todas as Cooperativas") %>
            </p>
        </div>


        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->
