<%= form_for [:admin, @usuario] do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> Erro ao Salvar</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div><br />
  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :senha %>
  </div><br />
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div><br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div><br />
  <div class="field">
    <%= f.label :data_nascimento %><br />
    <%= date_select 'usuario', 'data_nascimento', :start_year => 1920, :order => [:day, :month, :year] %>
  </div><br />
  <div class="field">
    <%= f.label :tipo_pessoa %><br />
  </div><br />
  <div class="field">
    <%= f.label :documento %><br />
    <%= f.text_field :documento %>
  </div><br />
  <div class="field">
    <%= f.label 'Sexo' %><br />
    <%= f.radio_button :sexo, 'M', :checked => true %>
    <%= label :sexo, 'Masculino' %>
    <%= f.radio_button :sexo, 'F' %>
    <%= label :sexo, 'Feminino' %>
  </div><br />
  <div class="field">
    <label>Status</label><br />
    <% status_array = Status.all.map { |status| [status.descricao, status.id] } %>
    <%= f.select :status_id, Status.all.collect {|status| [status.descricao, status.id]}  %>
  </div><br />
  <div class="field">
    <label>Administrador</label><br />
    <%= check_box_tag 'admin', 'admin' %>
  </div><br />

  <div class="field">
    <%= f.hidden_field :type %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
