<h1>USUARIOS</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nome %></td>
    <td><%= usuario.type %></td>
    <td><%= link_to 'Show', admin_usuario_path(usuario) %></td>
     <td><%= link_to 'Edit', edit_admin_usuario_path(usuario) %></td>
    <td><%= button_to 'Destroy', [:admin, usuario], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Usuario', new_admin_usuario_path %>
