<h1>OFERTAS</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cooperativa</th>
    <th>Data Início</th>
    <th>Data Fim</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @ofertas.each do |oferta| %>
  <tr>
    <td><%= oferta.id %></td>
    <td><%= oferta.cotacao.cooperativa.nome %></td>
    <td><%= oferta.data_inicio %></td>
    <td><%= oferta.data_fim %></td> 
    <td><%= oferta.status.descricao %></td>   
    <td><%= link_to 'Show', oferta_path(oferta) %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @ofertas %>
