<%= form_for(@exemplo) do |f| %>
  <% if @exemplo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exemplo.errors.count, "error") %> prohibited this exemplo from being saved:</h2>

      <ul>
      <% @exemplo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :idade %><br />
    <%= f.number_field :idade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
