<h1>Listing exemplos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exemplos.each do |exemplo| %>
  <tr>
    <td><%= exemplo.nome %></td>
    <td><%= exemplo.idade %></td>
    <td><%= link_to 'Show', exemplo %></td>
    <td><%= link_to 'Edit', edit_exemplo_path(exemplo) %></td>
    <td><%= link_to 'Destroy', exemplo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exemplo', new_exemplo_path %>
