<h1>CLIENTES</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.type %></td>
    <td><%= link_to 'Show', admin_cliente_path(cliente) %></td>
     <td><%= link_to 'Edit', edit_admin_cliente_path(cliente) %></td>
    <td><%= button_to 'Destroy', [:admin, cliente], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Cliente', new_admin_cliente_path %>
