<div class="content ">
    <div class="row">

        <div class="grid8" id="main-deal">
            <div itemscope="" itemtype="http://schema.org/Offer" class="box main_box">
                <h1 itemprop="name">
                    <a itemprop="url" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue ante, nec sagittis lectus. Fusce non est arcu."
                        href=""
                        class="deal-title">LOGIN</a></h1>
                <!-- SHARE -->

                <!--mainDeal-->
                <div class="deal-description row" style="margin:20px">
                    <%= form_tag('/logins/create_cooperativa_user') do %>
                    <div class="field">
                        <%= label_tag "Nome de Usuário" %><br />
                        <%= text_field_tag "username" %>
                    </div>

                    <div class="field">
                        <%= label_tag "Senha" %><br />
                        <%= password_field_tag "senha" %>
                    </div>

                    <div class="actions">
                        <%= submit_tag 'Entrar', :title => "Enviar", :class => "btn secondary" %>
                        <!--%= f.submit %-->
                    </div>
                    <% end %>
                </div>

            </div>
        </div>

        </script>

    </div>
    <!-- /row -->
</div>
<!-- / content -->
