<h1>ADMINISTRADORES</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @administradores.each do |administrador| %>
  <tr>
    <td><%= administrador.nome %></td>
    <td><%= administrador.status.descricao %></td>
    <td><%= link_to 'Show', admin_administrador_path(administrador) %></td>
     <td><%= link_to 'Edit', edit_admin_administrador_path(administrador) %></td>
    <td><%= link_to 'Destroy', [:admin, administrador], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Administrador', new_admin_administrador_path %>
