<h1>Painel de Controle</h1>

<%= link_to 'Usuários Internos', admin_usuarios_path %></br>
<%= link_to 'Administradores', admin_administradores_path %></br>
<%= link_to 'Cooperativas', admin_cooperativas_path %></br><br />

<%= link_to 'Usuários Externos', admin_clientes_path %></br></br>

<%= link_to 'Cotações', admin_cotacaos_path %></br></br>

<%= link_to 'Ofertas', admin_ofertas_path %></br></br>

<%= link_to 'Categorias', admin_categorias_path %></br>
<%= link_to 'Subcategorias', admin_subcategorias_path %></br></br>

<%= link_to 'Produtos', admin_produtos_path %></br></br>

<%= link_to 'LOGOUT', admin_logout_path %></br></br>
