<!DOCTYPE html>
<html>
<head>
  <title>Programa de Qualificação de Restaurantes</title>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield %>
</body>
</html>
