<h1>COOPERATIVAS</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cooperativas.each do |cooperativa| %>
  <tr>
    <td><%= cooperativa.nome %></td>
    <td><%= cooperativa.status.descricao %></td>
    <td><%= link_to '  Show', admin_cooperativa_path(cooperativa) %></td>
    <td><%= link_to '  Edit', edit_admin_cooperativa_path(cooperativa) %></td>
    <td><%= link_to '  Adiciona Imagem', new_admin_cooperativa_imagem_path(cooperativa) %></td>
    <td><%= button_to "  Destroy", [:admin, cooperativa], :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Cooperativa', new_admin_cooperativa_path %>
