<p>
  <b>Nome:</b>
  <%= @cooperativa.nome %>
</p>

<p>
  <b>Senha:</b>
  <%= @cooperativa.senha %>
</p>

<p>
  <b>Username:</b>
  <%= @cooperativa.username %>
</p>

<p>
  <b>Email:</b>
  <%= @cooperativa.email %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @cooperativa.data_nascimento %>
</p>

<p>
  <b>
    <% if @cooperativa.tipo_pessoa == 'F' %>
      CPF:
    <% else %>
      CNPJ:
    <% end %>
  </b>
  <%= @cooperativa.documento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @cooperativa.sexo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @cooperativa.descricao %>
</p>

<p>
  <b>Status:</b>
  <%= @cooperativa.status.descricao %>
</p>

<br />

<%= link_to 'Editar', edit_admin_cooperativa_path(@cooperativa) %> |
<%= link_to 'Voltar', admin_cooperativas_path %>
<br /><br />

<h1>PRODUTOS</h1>
<%= link_to 'Ver Produtos da Cooperativa', { :controller => 'admin/produtos', :action => 'index', :cooperativa_id => @cooperativa.id  } %><br />
<%= link_to 'Novo Produto da Cooperativa', { :controller => 'admin/produtos', :action => 'new', :cooperativa_id => @cooperativa.id  } %><br />
<br /><br />

<h1>COTAÇÕES</h1>
<%= link_to 'Ver Cotações da Cooperativa', { :controller => 'admin/cotacaos', :action => 'index', :cooperativa_id => @cooperativa.id  } %><br />
<%= link_to 'Nova Cotação da Cooperativa', { :controller => 'admin/cotacaos', :action => 'new', :cooperativa_id => @cooperativa.id  } %><br />
