<h1>IMAGENS</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imagens.each do |imagem| %>
  <tr>
    <td><%= imagem.id %></td>
    <td><%= link_to 'Show Imagem', admin_imagem_path(imagem) %></td>
    <td><%= link_to 'Edit Imagem', edit_admin_imagem_path(imagem) %></td>
    <td><%= button_to 'Destroy', [:admin,imagem] , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo Imagem', new_admin_imagem_path %>
