<h1>OFERTAS</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cooperativa</th>
    <th>Data Início</th>
    <th>Data Fim</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ofertas.each do |oferta| %>
  <tr>
    <td><%= oferta.id %></td>
    <td><%= oferta.cotacao.cooperativa.nome %></td>
    <td><%= oferta.data_inicio %></td>
    <td><%= oferta.data_fim %></td>
    <td><%= oferta.status.descricao %></td>
    <td><%= link_to 'Tornar Destaque', create_admin_destaque_path(oferta) %></td>
    <td><%= link_to 'Show', admin_oferta_path(oferta) %></td>
     <td><%= link_to 'Edit', edit_admin_oferta_path(oferta) %></td>
     <td><%= link_to 'Adiciona Imagem', new_admin_oferta_imagem(oferta) %></td>
    <td><%= button_to 'Destroy', [:admin,oferta] , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
