<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Senha:</b>
  <%= @usuario.senha %>
</p>

<p>
  <b>Username:</b>
  <%= @usuario.username %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Data de Cadastro:</b>
  <%= @usuario.data_cadastro %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @usuario.date_nascimento %>
</p>

<p>
  <b>
    <% if @usuario.tipo_pessoa == 'F' %>
      CPF:
    <% else %>
      CNPJ:
    <% end %>
  </b>
  <%= @usuario.documento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Status:</b>
  <%= @usuario.status %>
</p>

<p>
  <b>Type:</b>
  <%= @usuario.type %>
</p>

<br />

<h3>Telefones do Usuário</h3>
<table>
  <thead>
    <tr>
      <th>DDD</th>
      <th>Número</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% @usuario.telefones.each do |telefone| %>
      <tr>
        <td><%= telefone.ddd %></td>
        <td><%= telefone.numero %></td>
        <td><%= telefone.tipo %></td>
      </tr>
    <% end %>
  </tbody>  
</table>

<br />

<h3>Endereços do Usuário</h3>
<table>
  <thead>
    <tr>
      <th>Rua</th>
      <th>Bairro</th>
      <th>CEP</th>
      <th>Número</th>
      <th>Complemento</th>
      <th>Cidade</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <% @usuario.enderecos.each do |endereco| %>
      <tr>
        <td><%= endereco.rua %></td>
        <td><%= endereco.bairro %></td>
        <td><%= endereco.cep %></td>
        <td><%= endereco.numero %></td>
        <td><%= endereco.complemento %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>  
</table>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Voltar', usuarios_path %>
