<div class="content ">
    <div class="row">
        
        <div class="grid8" id="main-deal">
            <div itemscope="" itemtype="http://schema.org/Offer" class="box main_box">
                <h1 itemprop="name">
                    <a itemprop="url" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue ante, nec sagittis lectus. Fusce non est arcu."
                        href=""
                        class="deal-title">Divulgue sua Cooperativa</a></h1>
                <!-- SHARE -->
                
                <!--mainDeal-->
                <div class="deal-description row" style="margin:20px">
                    <%= form_tag('/home') do %>
                    <div class="field">
                        <%= f.label "Nome de Usuário" %><br />
                        <%= f.text_field_tag "username", :style => "width:80%" %>
                    </div>
                    
                    <div class="field">
                        <%= f.label "Senha" %><br />
                        <%= f.password_field "senha", :style => "width:80%" %>
                    </div>
                    
                    <div class="actions">
                        
                        <a href="" onclick="document.form.submit();" title="Enviar" class="btn secondary" style="bottom:-15px">Entrar</a>
                        <!--%= f.submit %-->
                    </div>
                    <% end %>
                </div>
                
            </div>
        </div>
        
        </script>
        
    </div>
    <!-- /row -->
</div>
<!-- / content -->