<div class="grid8" id="main-deal">
    <div itemscope="" itemtype="http://schema.org/Offer" class="box main_box">
        <h1 itemprop="name">
            <a itemprop="url" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue ante, nec sagittis lectus. Fusce non est arcu."
                href=""
                class="deal-title"><%= @destaque.oferta.nome %></a></h1>
        <!-- SHARE -->
        <div class="social">
            <ul>
                <li class="first">
                    <p>
                    Espalhe esta oferta:</p>
                </li>
                <li>
                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="/assets/tweet_button.1347008535.htm"
                        class="twitter_bt twitter-share-button twitter-count-horizontal" style="width: 110px;
                        height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
                </li>
                <li>
                    <iframe src="/assets/like.htm" scrolling="no" frameborder="0" style="border: none;
                        overflow: hidden; width: 100px; height: 21px;" allowtransparency="true"></iframe>
                </li>
            </ul>
        </div>
        <!-- /SHARE -->
        <div id="mainDeal">
            <!--sidebarDeal-->
            <div id="mainImage">
                <a title="PromoÁ„o da Cooperativa!"
                    class="" style="display: block;">
                    <img itemprop="image" class="oferta" alt="PromoÁ„o da Cooperativa!"
                        src="/assets/img_offer_main.jpg" width="465" height="300">
                        </a>
            </div>
            <div id="sidebarDeal">
                <form action=""
                    method="get" id="frmCompar" name="frmCompar">
                    <input type="hidden" id="splitoption" name="splitoption">
                        <input type="hidden" name="viewName" value="DealPage">
                            <input type="hidden" name="vid" value="74">
                                <p id="fullPrice" class="fromPrice">
                                a partir de</p>
                                <div itemprop="price" id="discountPrice">
                                    R$<span><%= @destaque.oferta.valor_convite %></span></div>
                                <div id="actionDeal" class="">
                                    <a title="Clique para comprar agora" class="btn primary buy buySplitted" id="compre">
                                        <span>Comprar</span></a>
                                </div>
                                <span class="dobraImg"></span>
                                </form>
                <div class="infoSidebarDeal first-child">
                    <strong id="totalsold"><%= Pagamento.where(:oferta_id => @oferta).count %></strong> <span>Cupons vendidos</span>
                </div>
                <div class="infoSidebarDeal">
                    <strong id="timeremh" class="high">24</strong>h <strong id="timeremm" class="high">59</strong>m
                    <strong id="timerems" class="high">59</strong>s <span>Tempo restante</span>
                </div>
            </div>

        </div>
        <!--mainDeal-->
        <div class="deal-description row collapsed">
            <div class="grid6" itemprop="description">
                <strong class="desc-title">Detalhes</strong>
                <%= @destaque.oferta.cotacao.descricao %>
            </div>
            <div class="grid6" itemprop="description">
                <strong class="desc-title"><%= @destaque.oferta.cotacao.cooperativa.nome %></strong>
                <%= @destaque.oferta.cotacao.cooperativa.descricao %>
            </div>
            <div class="grid6 deal-regulations">
                <strong class="desc-title">Regulamento</strong>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Quisque sit amet mi bibendum mi interdum tempus.</li>
                    <li>Aliquam vestibulum ipsum vitae ipsum molestie sit amet volutpat eros sodales.</li>
                    <li>Vivamus eu ligula orci, ac imperdiet massa.</li>
                    <li>Curabitur faucibus lacus eleifend ante feugiat vel gravida nulla egestas.</li>
                    <li>Suspendisse vel metus libero, a lobortis massa.</li>
                    </div>
        </div>
    </div>
</div>
