<div class="grid8" id="main-deal">
    <div itemscope="" itemtype="http://schema.org/Offer" class="box main_box">
        <h1 itemprop="name">
            <a itemprop="url" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue ante, nec sagittis lectus. Fusce non est arcu."
                href=""
                class="deal-title"><%= @cooperativa.nome %></a></h1>
        <!-- SHARE -->
        <div class="social">

        </div>

        <!--mainDeal-->
        <div class="deal-description row" style="margin:20px">
            <a title="PromoÁ„o da Cooperativa!"
                class="" style="display: block;">
                <% if @cooperativa.imagens.count != 0 %>
                <%= image_tag @cooperativa.imagens[0].image.url(:medium), :class => "oferta", :itemprop => "image", :style => "margin:15px" %>
                <% end %>
            </a>
            <!--a title="PromoÁ„o da Cooperativa!"
                class="" style="display: block;">
                <img itemprop="image" class="oferta" alt="PromoÁ„o da Cooperativa!"
                    src="/assets/img_offer_main.jpg" width="465" height="300">
            </a-->

            <%= @cooperativa.descricao.html_safe %>

            <div class="grid12" style="margin-top: 5px;">
                <p>
                <%= link_to("Ver Ofertas desta Cooperativa", cooperativa_ofertas_path(@cooperativa), :id => "MaisCooperativas", :class => "link-ver-mais", :title => "Veja Todas as Cooperativas") %>
                </p>
            </div>

            <div class="grid12" style="margin-top: 5px;">
                <p>
                <%= link_to("Ver Produtos desta Cooperativa", cooperativa_produtos_path(@cooperativa), :id => "MaisCooperativas", :class => "link-ver-mais", :title => "Veja Todas as Cooperativas") %>
                </p>
            </div>
        </div>
    </div>
</div>
