<h1>CATEGORIAS</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @categorias.each do |categoria| %>
    <tr>
      <td><%= categoria.id %></td>
      <td><%= categoria.nome %></td>
      <td><%= categoria.status.descricao %></td>
      <td><%= link_to 'Show', admin_categoria_path(categoria) %></td>
      <td><%= link_to 'Edit', edit_admin_categoria_path(categoria) %></td>
      <td><%= link_to 'Destroy', [:admin,categoria] , :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Novo Categoria', new_admin_categoria_path %>
