<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta charset="UTF-8">
  <title>Porka Social</title>
  <!-- Favicon -->
  <link rel="SHORTCUT ICON" href="">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <!--link rel="stylesheet" type="text/css" href="./porka_files/core"-->
  <!--link rel="stylesheet" type="text/css" href="./porka_files/deal"-->
  <style type="text/css">
        #mask
        {
            z-index: 99999;
        }
  </style>

  <%= csrf_meta_tags %>

</head>

<body>
    <div class="header">
        <div class="row">
            <div class="grid2">
				<a href="/" title="Porka Social" style="font-size:18pt">
					<img src="/assets/Logo_Porka.jpg" style="height:130px" />
					Porka Social
				</a>
				</div>
            <!-- /logo -->
            <div class="nav grid10">
                <div class="user_nav clearfix">
                    <div class="user_menu">
                        <ul class="not_logado" id="not_loggedin_user_menu" style="display: block;">
                            <li><a href="" title="Cadastre-se" id="SignUpButton">Cadastre-se</a></li>
                            <li><a href="" title="Entre com a sua conta" id="topLogin">Entrar</a></li>
                        </ul>
                    </div>
                    <!-- /user_menu -->
                </div>
                <!-- /user_nav clearfix-->
            </div>
            <!-- /nav -->
        </div>
        <!-- /row -->
    </div>
    <!-- /header -->
    <div class="nav-bar">
        <div class="row">
            <div class="grid13">
                <%= link_to "Home", :controller => "main", :action => "index" %>
                <%= link_to "Ofertas", :controller => "ofertas", :action => "index" %>
                <%= link_to "Cooperativas", :controller => "cooperativas", :action => "index" %>
                <%= link_to "Produtos", :controller => "produtos", :action => "index" %>
                <%= link_to "Divulgue sua Cooperativa", new_cooperativa_path %>
            </div>
            <div class="grid4">
                <a href="" title="Receba nossas Notícias" class="">Receba Notícias </a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- nav-bar -->

  <%= yield %>

  <!-- FOOTER -->


    <div class="footer">
        <div class="row">
            <div class="grid4">
                <div class="box" style="position: relative;">

                </div>
            </div>
            <div class="grid4">
                <div class="box">

                </div>
            </div>
            <div class="grid4">
                <div class="box">

                </div>
            </div>
            <hr>

        </div>
        <!-- /row -->
    </div>
    <!-- /footer -->
    <canvas id="ondas" width="1423" height="40"></canvas>
    <div class="pos_footer">
        <div class="row">
            <p class="grid8 large">
                © 2012 Porka Social Todos os direitos reservados.</p>
            <p class="grid4 fright">
                <a href="" target="_blank" title="Termos de uso"> Termos de uso</a> | <a href=""
                        target="_blank" title="PolÌtica de PrÌvacidade">Política de Privacidade</a></p>
        </div>
    </div>

  <!-- /FOOTER -->

</body>
</html>
